@model IEnumerable<Description>
<div class="top-header">
    <img src="Content/images/aerobic-girls.jpg" alt="aerobic girls" />
</div>
<div class="section-heading">

    <h2>Introducing Blugoon</h2>
    <div class="line-dec"></div>
    <span>Blugoon is free HTML template for everyone. This is a Bootstrap v4.3.1 layout which you can fully customize for your websites. Please tell your friends about Tooplate. Thank you.</span>
</div>
<div class="right-image-post">
    @foreach (var i in Model)
    {
        <div class="row">

            <div class="col-md-12">
                <div class="left-text box">
                    <h4>@i.Title</h4>
                    <div id="div_description">@Html.Raw(i.Text)</div>
                    <a id="btn_description" class="btn btn-warning">ReadMore...</a>
                   
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="right-image">
                    <img src="~/images/@i.ImagePath" alt="Mountain Reflection" id="img_description" />
                </div>
            </div>*@

        </div>
    }
</div>
<div class="left-image-post">
    <div class="row">

        <div class="col-md-4">
            <div class="left-image">
                <img src="Content/images/girl-nature.jpg" alt="Nature Girl" />
            </div>
        </div>

        <div class="col-md-8">
            <div class="right-text">
                <h4>Best Template for you!</h4>
                <p>Quisque feugiat nisl at lacus condimentum, eu suscipit odio fringilla. Mauris eu est vitae erat condimentum pellentesque. Fusce vehicula nunc at augue sagittis tristique.</p>
                <p>Ut imperdiet massa at enim tempus volutpat. Nullam gravida augue quis facilisis commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <div class="white-button">
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts{


    
}


