
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Blugoon HTML Bootstrap 4 Template</title>
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />




    <link href="~/Content/css/BoxProduct.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/carousel.css" rel="stylesheet" />
    <link href="~/Content/MyCss/Style.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->


    <link rel="stylesheet" href="Content/css/fontawesome.css" />
    <link rel="stylesheet" href="Content/css/tooplate-style.css" />
    <link rel="stylesheet" href="Content/css/owl.css" />
    <link rel="stylesheet" href="Content/css/lightbox.css" />
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
  
</head>
<!--
Tooplate 2116 Blugoon
https://www.tooplate.com/view/2116-blugoon
-->
<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>

                <div class="container">
                    <div class="image">
                        <a href="#"><img src="Content/images/logo-image.jpg" alt="Blugoon by Tooplate" /></a>
                    </div>
                    <div class="author-content">
                        <h4>Blugoon</h4>
                        <span>Free Bootstrap Theme</span>
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="#section1">Intro</a></li>
                            <li><a href="#section2">Features</a></li>
                            <li><a href="#section3">Gallery</a></li>
                            <li><a href="#section4">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="social-network">
                        <ul class="soial-icons">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>
                            Copyright 2020 Blugoon<br>
                            Design: Tooplate
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->



    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Content/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/main.js"></script>









    <script>
        $(document).on("click", "#btn_description", function () {
            $(this).parent().toggleClass("showContent");
        });
    </script>
    @RenderSection("scripts", false)

    <script>
        //according to loftblog tut
        $(".main-menu li:first").addClass("active");

        var showSection = function showSection(section, isAnimate) {
            var direction = section.replace(/#/, ""),
                reqSection = $(".section").filter(
                    '[data-section="' + direction + '"]'
                ),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $("body, html").animate(
                    {
                        scrollTop: reqSectionPos
                    },
                    800
                );
            } else {
                $("body, html").scrollTop(reqSectionPos);
            }
        };

        var checkSection = function checkSection() {
            $(".section").each(function () {
                var $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var currentId = $this.data("section"),
                        reqLink = $("a").filter("[href*=\\#" + currentId + "]");
                    reqLink
                        .closest("li")
                        .addClass("active")
                        .siblings()
                        .removeClass("active");
                }
            });
        };

        $(".main-menu").on("click", "a", function (e) {
            e.preventDefault();
            showSection($(this).attr("href"), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>
</html>


