.detail-product > p {
    inline-size: 690px;
    overflow-wrap: break-word;
}

#main-content > p {
    inline-size: 1096px;
    overflow-wrap: break-word;
}
#showproduct_img{

    margin-top:43px;
    width:366px;
    height:366px;
}