
<div id="div_form">
    @Html.Action("Create")
</div>

<div id="Gallery">

    @Html.Action("DataGallery")
</div>


@section scripts{

    <script src="~/Areas/Admin/scripts/Gallery_script.js"></script>
    
}
