<section class="section about-me" data-section="section1">
    <div class="container">
       @Html.Action("AboutMe")
    </div>
</section>

<section class="section my-services" data-section="section2">
    <div class="container">
       @Html.Action("MyServices")
    </div>
</section>

<section class="section my-work" data-section="section3">
    <div class="container">
        @*@Html.Action("MyWork")*@
    </div>
</section>

<section class="section contact-me" data-section="section4">
    <div class="container">
        @Html.Action("ContactMe")
    </div>
</section>